@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Pacifico);
/**
 * App-wide Styles
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: #dbdbdb;
  background-color: #4d4d4d;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
}
.thing-form {
  margin: 20px 0;
}
#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
ul {
  list-style-type: none;
}
.name-header {
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  color: #eba686;
}
.lead {
  font-size: 2.5rem;
  color: #b6c8c2;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.star-color {
  color: #ffea83;
}
.padding-sm {
  padding: 5px;
}
.adventure-title {
  font-size: 2rem;
  padding-left: 1rem;
  margin-bottom: 0;
}
.adventure-desc {
  padding-left: 1rem;
}
